* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.form {
  padding-top: 50px;
  width: 500px;
  min-height: 100px;
  padding: 10px 20px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  margin: 20px auto;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  margin-bottom: 300px;
}

.form .heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-btn{
  width: 140px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  height: 40px;
}
